.background{
    -fx-background-image: url("../img/tipos-de-tiendas.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 800px 600px;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.login-bg{
    -fx-background-color: white;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.shop-title{
    -fx-text-fill: red;
}

.shop-label{
    -fx-text-fill: white;
    -fx-background-color: #0d6efd;
    -fx-font-size: 16px;
    -fx-font-weight: 400;
}

.btn {
  -fx-font-weight: 400;
  -fx-text-fill: #212529;
  -fx-background-color: transparent;
  -fx-border-size: 1px;
  -fx-border: solid transparent;
  -fx-border-top-color: transparent;
  -fx-border-right-color: transparent;
  -fx-border-bottom-color: transparent;
  -fx-border-left-color: transparent;
  -fx-padding: .375em .75em;
  -fx-font-size: 1em;
  -fx-border-radius: .25em;
  -fx-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-primary {
  -fx-text-fill: #0d6efd;
  -fx-border-color: #0d6efd;
}